.h0 {
  font-size: 30px;
}

.h1 {
  font-size: 28px;
}

.h2 {
  font-size: 22px;
}

.h3 {
  font-size: 18px;
}

.s20 {
  font-size: 16px;
}

.s18 {
  font-size: 14px;
}

.h4 {
  font-size: 15px;
}

.button_link {
  font-size: 14px;
}

@media only screen and (min-width: 768px) {
  .h0 {
    font-size: 32px;
  }

  .h1 {
    font-size: 30px;
  }

  .h2 {
    font-size: 24px;
  }

  .h3 {
    font-size: 20px;
  }

  .s20 {
    font-size: 20px;
  }

  .s18 {
    font-size: 16px;
  }

  .h4 {
    font-size: 16px;
  }

  .button_link {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1024px) {
  .h0 {
    font-size: 34px;
  }

  .h1 {
    font-size: 32px;
  }

  .h2 {
    font-size: 26px;
  }

  .h3 {
    font-size: 22px;
  }

  .s18 {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1440px) {
  .h0 {
    font-size: 36px;
  }

  .h1 {
    font-size: 34px;
  }

  .h2 {
    font-size: 28px;
  }

  .h3 {
    font-size: 24px;
  }


}