
@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/helvetica-neue-light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/helvetica-neue-light-italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/helvetica-neue-regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/helvetica-neue-medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/helvetica-neue-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/helvetica-neue-bold-italic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}