.top-header {
  background: #39A8E2;
  color: #fff;
  padding: 15px 0;
  font-size: 14px;
}

.hotline {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: right;

}

.hotline .svg {
  width: 30px;
  margin-right: 20px;
}

.hotline ._txt {
  text-transform: uppercase;
}

/* menu */
.inner_bottom_header {
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 100;
}

.nav-menu {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-menu a {
  text-decoration: none;
  border: none;
  outline: 0;
  font-size: 16px;
  color: #736E6E;
}

.nav-menu a:hover, .nav-menu a[aria-current="page"] {
  color: #DC2028;
}

@media only screen and (max-width: 767px) {
  .site-branding .custom-logo {
    width: 88px;
    height: auto;
  }

  .nav-button-wrap {
    -webkit-flex: 1 100px;
    -ms-flex: 1 100px;
    flex: 1 100px;
  }

  .nav-icon {
    margin: 0 0 0 auto;
    width: 30px;
    cursor: pointer;
    padding: 5px;
  }

  .nav-icon:after,
  .nav-icon:before,
  .nav-icon span {
    background-color: #736E6E;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    content: "";
    display: block;
    height: 2px;
    margin: 6px 0;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }

  .open .nav-icon:before {
    -moz-transform: translateY(8px) rotate(135deg);
    -webkit-transform: translateY(8px) rotate(135deg);
    -ms-transform: translateY(8px) rotate(135deg);
    -o-transform: translateY(8px) rotate(135deg);
    transform: translateY(8px) rotate(135deg);
  }

  .open .nav-icon:after {
    -webkit-transform: translateY(-8px) rotate(-135deg);
    -moz-transform: translateY(-8px) rotate(-135deg);
    -ms-transform: translateY(-8px) rotate(-135deg);
    -o-transform: translateY(-8px) rotate(-135deg);
    transform: translateY(-8px) rotate(-135deg);
  }

  .open .nav-icon span {
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }

  .main-navigation {
    display: none;
    width: 100%;
    padding: 0 6px;
  }

  .site-header.open .main-navigation {
    display: block;
  }

  .site-header.open .main-navigation .menu {
    width: 100%;
  }

  .nav-menu {
    padding: 0;
    text-align: right;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .nav-menu a {
    width: 100%;
    padding: 7px 0;
    display: block;
  }
}

@media only screen and (min-width: 768px) {
  .site-header {
    -webkit-align-items: center;
    align-items: center;
  }

  .main-navigation {
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto;
  }

  .main-navigation  li.menu-item {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: right;
  }
}

@media only screen and (min-width: 1024px) {

}