html {
  color: #736E6E;
  font-family: "Helvetica Neue", Roboto, serif;
  line-height: 1.75;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.gray {
  color: #736E6E;
}

a, .blue {
  color: #39A8E2;
}

a:hover, a:focus, .red {
  color: #DC2028;
}

h1 {
  margin-bottom: 25px;
}

h2 {
  margin-bottom: 20px;
}

h3 {
  margin-bottom: 15px;
}

h4, p {
  margin-bottom: 10px;
}

.fw300 {
  font-weight: 300;
}

.fw400 {
  font-weight: 400;
}

.fw500 {
  font-weight: 500;
}

.fw600 {
  font-weight: 600;
}

.fw700 {
  font-weight: 700;
}

.fw900 {
  font-weight: 900;
}

.LR_pad {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.top_pad {
  padding-top: 40px;
  padding-bottom: 40px;
}

.button_link {
  font-family: Roboto, serif;
  display: inline-block;
  border: 1px solid;
  min-width: 150px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

@media only screen and (min-width: 768px) {
  .LR_pad {
    padding-left: 50px;
    padding-right: 50px;
  }

  .top_pad {
    padding-top: 5vw;
    padding-bottom: 5vw;
  }
}

@media only screen and (min-width: 1024px) {
  .LR_pad {
    padding-left: 7vw;
    padding-right: 7vw;
  }
}

@media only screen and (min-width: 1600px) {
  .LR_pad {
    max-width: 1400px;
    padding-left: 0;
    padding-right: 0;
  }

  .top_pad {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}