
.taxonomy_section ._section_title {
  text-align: center;
  margin-bottom: 0;
}

.taxonomy_section_list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

.taxonomy_section_list_item {
  width: 300px;
  max-width: 100%;
  display: inline-block;
  text-align: center;
  margin: 40px 0 0;
}

.taxonomy_section_list_item ._cat_img {
  width: 300px;
  height: 300px;
  max-width: 100%;
  max-height: calc(100vw - 40px);
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.taxonomy_section_list_item ._heading {
  color: #736E6E;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
  line-height: 1;
}

.taxonomy_section_list_item > a {
  text-decoration: none;
}

.taxonomy_section_list_item a:hover ._heading {
  color: #39A8E2;
}

@media only screen and (min-width: 600px) {
  .taxonomy_section_list {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    margin-right: -20px;
  }

  .taxonomy_section_list_item {
    width: 0;
    margin-right: 20px;
    margin-top: 50px;
    -webkit-flex-basis: calc(50% - 20px);
    flex-basis: calc(50% - 20px);
  }
}

@media only screen and (min-width: 900px) {
  .taxonomy_section_list_item {
    -webkit-flex-basis: calc(33.33% - 20px);
    flex-basis: calc(33.33% - 20px);
  }

  .taxonomy_section_list_item ._cat_img {
    margin-bottom: 35px;
  }
}

@media only screen and (min-width: 1200px) {
  .taxonomy_section_list_item {
    -webkit-flex-basis: calc(25% - 20px);
    flex-basis: calc(25% - 20px);
  }
}